{% extends 'base.html'%}
{% block content%}   
<h1>Decipher Message</h1>
    <form method="POST">
      <label for="ciphertext">Ciphertext:</label><br>
      <textarea name="ciphertext" id="ciphertext" rows="4" cols="50" required></textarea><br><br>
      <label for="key">Key:</label>
      <input type="number" name="key" id="key" required><br><br>
      <input type="submit" value="Decipher">
    </form>
    {% if decrypted_message %}
    <h2>Deciphered Message:</h2>
    <p>{{ decrypted_message }}</p>
    {% endif %}
{% endblock %}